USE [Location]
GO
/****** Object:  ForeignKey [FK_dbo.Departments_dbo.Departments_ParentId]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Departments_dbo.Departments_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Departments]'))
ALTER TABLE [dbo].[Departments] DROP CONSTRAINT [FK_dbo.Departments_dbo.Departments_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.Menus_dbo.Menus_PMenuId]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Menus_dbo.Menus_PMenuId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Menus]'))
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [FK_dbo.Menus_dbo.Menus_PMenuId]
GO
/****** Object:  ForeignKey [FK_dbo.PhysicalTopologies_dbo.PhysicalTopologies_ParentId]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.PhysicalTopologies_dbo.PhysicalTopologies_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[PhysicalTopologies]'))
ALTER TABLE [dbo].[PhysicalTopologies] DROP CONSTRAINT [FK_dbo.PhysicalTopologies_dbo.PhysicalTopologies_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.PhysicalTopologies_dbo.TransformMs_TransfromId]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.PhysicalTopologies_dbo.TransformMs_TransfromId]') AND parent_object_id = OBJECT_ID(N'[dbo].[PhysicalTopologies]'))
ALTER TABLE [dbo].[PhysicalTopologies] DROP CONSTRAINT [FK_dbo.PhysicalTopologies_dbo.TransformMs_TransfromId]
GO
/****** Object:  ForeignKey [FK_dbo.Personnels_dbo.Departments_ParentId]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Personnels_dbo.Departments_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Personnels]'))
ALTER TABLE [dbo].[Personnels] DROP CONSTRAINT [FK_dbo.Personnels_dbo.Departments_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.Personnels_dbo.Posts_PstId]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Personnels_dbo.Posts_PstId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Personnels]'))
ALTER TABLE [dbo].[Personnels] DROP CONSTRAINT [FK_dbo.Personnels_dbo.Posts_PstId]
GO
/****** Object:  ForeignKey [FK_dbo.Personnels_dbo.Tags_TagId]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Personnels_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Personnels]'))
ALTER TABLE [dbo].[Personnels] DROP CONSTRAINT [FK_dbo.Personnels_dbo.Tags_TagId]
GO
/****** Object:  ForeignKey [FK_dbo.Functions_dbo.Icons_Icon_Id]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Functions_dbo.Icons_Icon_Id]') AND parent_object_id = OBJECT_ID(N'[dbo].[Functions]'))
ALTER TABLE [dbo].[Functions] DROP CONSTRAINT [FK_dbo.Functions_dbo.Icons_Icon_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Functions_dbo.Menus_Menu_Id]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Functions_dbo.Menus_Menu_Id]') AND parent_object_id = OBJECT_ID(N'[dbo].[Functions]'))
ALTER TABLE [dbo].[Functions] DROP CONSTRAINT [FK_dbo.Functions_dbo.Menus_Menu_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Targets_dbo.Departments_DepId]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Targets_dbo.Departments_DepId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Targets]'))
ALTER TABLE [dbo].[Targets] DROP CONSTRAINT [FK_dbo.Targets_dbo.Departments_DepId]
GO
/****** Object:  ForeignKey [FK_dbo.Targets_dbo.Tags_TagId]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Targets_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Targets]'))
ALTER TABLE [dbo].[Targets] DROP CONSTRAINT [FK_dbo.Targets_dbo.Tags_TagId]
GO
/****** Object:  ForeignKey [FK_dbo.Users_dbo.Departments_DepId]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Users_dbo.Departments_DepId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Users]'))
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_dbo.Users_dbo.Departments_DepId]
GO
/****** Object:  ForeignKey [FK_dbo.JurisDictions_dbo.PhysicalTopologies_PtId]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictions_dbo.PhysicalTopologies_PtId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictions]'))
ALTER TABLE [dbo].[JurisDictions] DROP CONSTRAINT [FK_dbo.JurisDictions_dbo.PhysicalTopologies_PtId]
GO
/****** Object:  ForeignKey [FK_dbo.JurisDictions_dbo.Tags_TagId]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictions_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictions]'))
ALTER TABLE [dbo].[JurisDictions] DROP CONSTRAINT [FK_dbo.JurisDictions_dbo.Tags_TagId]
GO
/****** Object:  ForeignKey [FK_dbo.JurisDictionRecords_dbo.PhysicalTopologies_PtId]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictionRecords_dbo.PhysicalTopologies_PtId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictionRecords]'))
ALTER TABLE [dbo].[JurisDictionRecords] DROP CONSTRAINT [FK_dbo.JurisDictionRecords_dbo.PhysicalTopologies_PtId]
GO
/****** Object:  ForeignKey [FK_dbo.JurisDictionRecords_dbo.Tags_TagId]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictionRecords_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictionRecords]'))
ALTER TABLE [dbo].[JurisDictionRecords] DROP CONSTRAINT [FK_dbo.JurisDictionRecords_dbo.Tags_TagId]
GO
/****** Object:  ForeignKey [FK_dbo.Maps_dbo.Departments_DepId]    Script Date: 07/31/2018 15:57:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Maps_dbo.Departments_DepId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Maps]'))
ALTER TABLE [dbo].[Maps] DROP CONSTRAINT [FK_dbo.Maps_dbo.Departments_DepId]
GO
/****** Object:  ForeignKey [FK_dbo.Maps_dbo.PhysicalTopologies_TopoNodeId]    Script Date: 07/31/2018 15:57:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Maps_dbo.PhysicalTopologies_TopoNodeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Maps]'))
ALTER TABLE [dbo].[Maps] DROP CONSTRAINT [FK_dbo.Maps_dbo.PhysicalTopologies_TopoNodeId]
GO
/****** Object:  ForeignKey [FK_dbo.DevInfoes_dbo.DevPos_Pos_DevID]    Script Date: 07/31/2018 15:57:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.DevInfoes_dbo.DevPos_Pos_DevID]') AND parent_object_id = OBJECT_ID(N'[dbo].[DevInfoes]'))
ALTER TABLE [dbo].[DevInfoes] DROP CONSTRAINT [FK_dbo.DevInfoes_dbo.DevPos_Pos_DevID]
GO
/****** Object:  ForeignKey [FK_dbo.DevInfoes_dbo.PhysicalTopologies_ParentId]    Script Date: 07/31/2018 15:57:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.DevInfoes_dbo.PhysicalTopologies_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[DevInfoes]'))
ALTER TABLE [dbo].[DevInfoes] DROP CONSTRAINT [FK_dbo.DevInfoes_dbo.PhysicalTopologies_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.Areas_dbo.Maps_MapId]    Script Date: 07/31/2018 15:57:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Areas_dbo.Maps_MapId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Areas]'))
ALTER TABLE [dbo].[Areas] DROP CONSTRAINT [FK_dbo.Areas_dbo.Maps_MapId]
GO
/****** Object:  ForeignKey [FK_dbo.Areas_dbo.TransformMs_TransformId]    Script Date: 07/31/2018 15:57:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Areas_dbo.TransformMs_TransformId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Areas]'))
ALTER TABLE [dbo].[Areas] DROP CONSTRAINT [FK_dbo.Areas_dbo.TransformMs_TransformId]
GO
/****** Object:  ForeignKey [FK_dbo.Archors_dbo.DevInfoes_DevId]    Script Date: 07/31/2018 15:57:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Archors_dbo.DevInfoes_DevId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Archors]'))
ALTER TABLE [dbo].[Archors] DROP CONSTRAINT [FK_dbo.Archors_dbo.DevInfoes_DevId]
GO
/****** Object:  Table [dbo].[Archors]    Script Date: 07/31/2018 15:57:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Archors_dbo.DevInfoes_DevId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Archors]'))
ALTER TABLE [dbo].[Archors] DROP CONSTRAINT [FK_dbo.Archors_dbo.DevInfoes_DevId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Archors]') AND type in (N'U'))
DROP TABLE [dbo].[Archors]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 07/31/2018 15:57:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Areas_dbo.Maps_MapId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Areas]'))
ALTER TABLE [dbo].[Areas] DROP CONSTRAINT [FK_dbo.Areas_dbo.Maps_MapId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Areas_dbo.TransformMs_TransformId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Areas]'))
ALTER TABLE [dbo].[Areas] DROP CONSTRAINT [FK_dbo.Areas_dbo.TransformMs_TransformId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Areas]') AND type in (N'U'))
DROP TABLE [dbo].[Areas]
GO
/****** Object:  Table [dbo].[DevInfoes]    Script Date: 07/31/2018 15:57:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.DevInfoes_dbo.DevPos_Pos_DevID]') AND parent_object_id = OBJECT_ID(N'[dbo].[DevInfoes]'))
ALTER TABLE [dbo].[DevInfoes] DROP CONSTRAINT [FK_dbo.DevInfoes_dbo.DevPos_Pos_DevID]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.DevInfoes_dbo.PhysicalTopologies_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[DevInfoes]'))
ALTER TABLE [dbo].[DevInfoes] DROP CONSTRAINT [FK_dbo.DevInfoes_dbo.PhysicalTopologies_ParentId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DevInfoes]') AND type in (N'U'))
DROP TABLE [dbo].[DevInfoes]
GO
/****** Object:  Table [dbo].[Maps]    Script Date: 07/31/2018 15:57:29 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Maps_dbo.Departments_DepId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Maps]'))
ALTER TABLE [dbo].[Maps] DROP CONSTRAINT [FK_dbo.Maps_dbo.Departments_DepId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Maps_dbo.PhysicalTopologies_TopoNodeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Maps]'))
ALTER TABLE [dbo].[Maps] DROP CONSTRAINT [FK_dbo.Maps_dbo.PhysicalTopologies_TopoNodeId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Maps]') AND type in (N'U'))
DROP TABLE [dbo].[Maps]
GO
/****** Object:  Table [dbo].[JurisDictionRecords]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictionRecords_dbo.PhysicalTopologies_PtId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictionRecords]'))
ALTER TABLE [dbo].[JurisDictionRecords] DROP CONSTRAINT [FK_dbo.JurisDictionRecords_dbo.PhysicalTopologies_PtId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictionRecords_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictionRecords]'))
ALTER TABLE [dbo].[JurisDictionRecords] DROP CONSTRAINT [FK_dbo.JurisDictionRecords_dbo.Tags_TagId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JurisDictionRecords]') AND type in (N'U'))
DROP TABLE [dbo].[JurisDictionRecords]
GO
/****** Object:  Table [dbo].[JurisDictions]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictions_dbo.PhysicalTopologies_PtId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictions]'))
ALTER TABLE [dbo].[JurisDictions] DROP CONSTRAINT [FK_dbo.JurisDictions_dbo.PhysicalTopologies_PtId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictions_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictions]'))
ALTER TABLE [dbo].[JurisDictions] DROP CONSTRAINT [FK_dbo.JurisDictions_dbo.Tags_TagId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JurisDictions]') AND type in (N'U'))
DROP TABLE [dbo].[JurisDictions]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Users_dbo.Departments_DepId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Users]'))
ALTER TABLE [dbo].[Users] DROP CONSTRAINT [FK_dbo.Users_dbo.Departments_DepId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
DROP TABLE [dbo].[Users]
GO
/****** Object:  Table [dbo].[Targets]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Targets_dbo.Departments_DepId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Targets]'))
ALTER TABLE [dbo].[Targets] DROP CONSTRAINT [FK_dbo.Targets_dbo.Departments_DepId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Targets_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Targets]'))
ALTER TABLE [dbo].[Targets] DROP CONSTRAINT [FK_dbo.Targets_dbo.Tags_TagId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Targets]') AND type in (N'U'))
DROP TABLE [dbo].[Targets]
GO
/****** Object:  Table [dbo].[Functions]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Functions_dbo.Icons_Icon_Id]') AND parent_object_id = OBJECT_ID(N'[dbo].[Functions]'))
ALTER TABLE [dbo].[Functions] DROP CONSTRAINT [FK_dbo.Functions_dbo.Icons_Icon_Id]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Functions_dbo.Menus_Menu_Id]') AND parent_object_id = OBJECT_ID(N'[dbo].[Functions]'))
ALTER TABLE [dbo].[Functions] DROP CONSTRAINT [FK_dbo.Functions_dbo.Menus_Menu_Id]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Functions]') AND type in (N'U'))
DROP TABLE [dbo].[Functions]
GO
/****** Object:  Table [dbo].[Personnels]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Personnels_dbo.Departments_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Personnels]'))
ALTER TABLE [dbo].[Personnels] DROP CONSTRAINT [FK_dbo.Personnels_dbo.Departments_ParentId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Personnels_dbo.Posts_PstId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Personnels]'))
ALTER TABLE [dbo].[Personnels] DROP CONSTRAINT [FK_dbo.Personnels_dbo.Posts_PstId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Personnels_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Personnels]'))
ALTER TABLE [dbo].[Personnels] DROP CONSTRAINT [FK_dbo.Personnels_dbo.Tags_TagId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Personnels]') AND type in (N'U'))
DROP TABLE [dbo].[Personnels]
GO
/****** Object:  Table [dbo].[PhysicalTopologies]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.PhysicalTopologies_dbo.PhysicalTopologies_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[PhysicalTopologies]'))
ALTER TABLE [dbo].[PhysicalTopologies] DROP CONSTRAINT [FK_dbo.PhysicalTopologies_dbo.PhysicalTopologies_ParentId]
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.PhysicalTopologies_dbo.TransformMs_TransfromId]') AND parent_object_id = OBJECT_ID(N'[dbo].[PhysicalTopologies]'))
ALTER TABLE [dbo].[PhysicalTopologies] DROP CONSTRAINT [FK_dbo.PhysicalTopologies_dbo.TransformMs_TransfromId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PhysicalTopologies]') AND type in (N'U'))
DROP TABLE [dbo].[PhysicalTopologies]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Posts]') AND type in (N'U'))
DROP TABLE [dbo].[Posts]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
DROP TABLE [dbo].[Roles]
GO
/****** Object:  Table [dbo].[t_SetModel]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[t_SetModel]') AND type in (N'U'))
DROP TABLE [dbo].[t_SetModel]
GO
/****** Object:  Table [dbo].[t_Template_TypeProperty]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[t_Template_TypeProperty]') AND type in (N'U'))
DROP TABLE [dbo].[t_Template_TypeProperty]
GO
/****** Object:  Table [dbo].[TagPositions]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TagPositions]') AND type in (N'U'))
DROP TABLE [dbo].[TagPositions]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tags]') AND type in (N'U'))
DROP TABLE [dbo].[Tags]
GO
/****** Object:  Table [dbo].[Icons]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Icons]') AND type in (N'U'))
DROP TABLE [dbo].[Icons]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
DROP TABLE [dbo].[__MigrationHistory]
GO
/****** Object:  Table [dbo].[Alarms]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alarms]') AND type in (N'U'))
DROP TABLE [dbo].[Alarms]
GO
/****** Object:  Table [dbo].[Menus]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Menus_dbo.Menus_PMenuId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Menus]'))
ALTER TABLE [dbo].[Menus] DROP CONSTRAINT [FK_dbo.Menus_dbo.Menus_PMenuId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Menus]') AND type in (N'U'))
DROP TABLE [dbo].[Menus]
GO
/****** Object:  Table [dbo].[NodeKKS]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NodeKKS]') AND type in (N'U'))
DROP TABLE [dbo].[NodeKKS]
GO
/****** Object:  Table [dbo].[DevPos]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DevPos]') AND type in (N'U'))
DROP TABLE [dbo].[DevPos]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Departments_dbo.Departments_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Departments]'))
ALTER TABLE [dbo].[Departments] DROP CONSTRAINT [FK_dbo.Departments_dbo.Departments_ParentId]
GO
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Departments]') AND type in (N'U'))
DROP TABLE [dbo].[Departments]
GO
/****** Object:  Table [dbo].[TransformMs]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransformMs]') AND type in (N'U'))
DROP TABLE [dbo].[TransformMs]
GO
/****** Object:  Table [dbo].[KKSCodes]    Script Date: 07/31/2018 15:57:28 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KKSCodes]') AND type in (N'U'))
DROP TABLE [dbo].[KKSCodes]
GO
/****** Object:  Table [dbo].[KKSCodes]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KKSCodes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[KKSCodes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Serial] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Code] [nvarchar](max) NOT NULL,
	[ParentCode] [nvarchar](max) NULL,
	[DesinCode] [nvarchar](max) NULL,
	[MainType] [nvarchar](max) NOT NULL,
	[SubType] [nvarchar](max) NOT NULL,
	[System] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.KKSCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[KKSCodes] ON
INSERT [dbo].[KKSCodes] ([Id], [Serial], [Name], [Code], [ParentCode], [DesinCode], [MainType], [SubType], [System]) VALUES (1, N'1', N'建筑物', N'J1U', N'', N'', N'土建', N'土建系统', N'')
INSERT [dbo].[KKSCodes] ([Id], [Serial], [Name], [Code], [ParentCode], [DesinCode], [MainType], [SubType], [System]) VALUES (2, N'2', N'主机装置建筑物', N'J1UM', N'J1U', N'', N'土建', N'土建系统', N'')
INSERT [dbo].[KKSCodes] ([Id], [Serial], [Name], [Code], [ParentCode], [DesinCode], [MainType], [SubType], [System]) VALUES (3, N'3', N'主厂房', N'J1UMA', N'J1UM', N'', N'土建', N'土建系统', N'')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
SET IDENTITY_INSERT [dbo].[KKSCodes] OFF
/****** Object:  Table [dbo].[TransformMs]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransformMs]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TransformMs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[X] [real] NOT NULL,
	[Y] [real] NOT NULL,
	[Z] [real] NOT NULL,
	[RX] [real] NOT NULL,
	[RY] [real] NOT NULL,
	[RZ] [real] NOT NULL,
	[SX] [real] NOT NULL,
	[SY] [real] NOT NULL,
	[SZ] [real] NOT NULL,
 CONSTRAINT [PK_dbo.TransformMs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[TransformMs] ON
INSERT [dbo].[TransformMs] ([Id], [X], [Y], [Z], [RX], [RY], [RZ], [SX], [SY], [SZ]) VALUES (1, 40, 1, 10, 0, 0, 0, 1, 1, 1)
INSERT [dbo].[TransformMs] ([Id], [X], [Y], [Z], [RX], [RY], [RZ], [SX], [SY], [SZ]) VALUES (2, 40, 1, 15, 0, 0, 0, 1, 1, 1)
INSERT [dbo].[TransformMs] ([Id], [X], [Y], [Z], [RX], [RY], [RZ], [SX], [SY], [SZ]) VALUES (3, 0, 0, 0, 0, 0, 0, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[TransformMs] OFF
/****** Object:  Table [dbo].[Departments]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Departments]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ShowOrder] [int] NOT NULL,
	[ParentId] [int] NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Departments]') AND name = N'IX_ParentId')
CREATE NONCLUSTERED INDEX [IX_ParentId] ON [dbo].[Departments] 
(
	[ParentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Departments] ON
INSERT [dbo].[Departments] ([Id], [Name], [ShowOrder], [ParentId]) VALUES (1, N'根节点', 0, NULL)
INSERT [dbo].[Departments] ([Id], [Name], [ShowOrder], [ParentId]) VALUES (2, N'四会电厂', 0, 1)
INSERT [dbo].[Departments] ([Id], [Name], [ShowOrder], [ParentId]) VALUES (3, N'维修部门', 0, 2)
SET IDENTITY_INSERT [dbo].[Departments] OFF
/****** Object:  Table [dbo].[DevPos]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DevPos]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DevPos](
	[DevID] [nvarchar](128) NOT NULL,
	[PosX] [real] NOT NULL,
	[PosY] [real] NOT NULL,
	[PosZ] [real] NOT NULL,
	[RotationX] [real] NOT NULL,
	[RotationY] [real] NOT NULL,
	[RotationZ] [real] NOT NULL,
	[ScaleX] [real] NOT NULL,
	[ScaleY] [real] NOT NULL,
	[ScaleZ] [real] NOT NULL,
 CONSTRAINT [PK_dbo.DevPos] PRIMARY KEY CLUSTERED 
(
	[DevID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[NodeKKS]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NodeKKS]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[NodeKKS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NodeId] [int] NOT NULL,
	[KKSId] [int] NOT NULL,
	[KKS] [nvarchar](max) NOT NULL,
	[NodeType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.NodeKKS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[NodeKKS] ON
INSERT [dbo].[NodeKKS] ([Id], [NodeId], [KKSId], [KKS], [NodeType]) VALUES (1, 3, 2, N'J1UM', 1)
INSERT [dbo].[NodeKKS] ([Id], [NodeId], [KKSId], [KKS], [NodeType]) VALUES (2, 4, 38, N'J1UE', 1)
INSERT [dbo].[NodeKKS] ([Id], [NodeId], [KKSId], [KKS], [NodeType]) VALUES (3, 8, 151, N'J1UB', 1)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[NodeKKS] OFF
/****** Object:  Table [dbo].[Menus]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Menus]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Menus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL,
	[Order] [int] NOT NULL,
	[PMenuId] [int] NULL,
 CONSTRAINT [PK_dbo.Menus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Menus]') AND name = N'IX_PMenuId')
CREATE NONCLUSTERED INDEX [IX_PMenuId] ON [dbo].[Menus] 
(
	[PMenuId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Alarms]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Alarms]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Alarms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [int] NOT NULL,
	[Tag] [nvarchar](max) NULL,
	[Target] [nvarchar](max) NULL,
	[Content] [nvarchar](max) NULL,
	[CreateTime] [datetime] NOT NULL,
	[HandleTime] [datetime] NOT NULL,
	[Handler] [nvarchar](max) NULL,
	[HandleType] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Alarms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[__MigrationHistory]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Icons]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Icons]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Icons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Icons] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tags]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Tags](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Describe] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Tags] ON
INSERT [dbo].[Tags] ([Id], [Code], [Name], [Describe]) VALUES (1, N'0002', N'标签1', NULL)
INSERT [dbo].[Tags] ([Id], [Code], [Name], [Describe]) VALUES (2, N'0003', N'标签2', NULL)
SET IDENTITY_INSERT [dbo].[Tags] OFF
/****** Object:  Table [dbo].[TagPositions]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TagPositions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[TagPositions](
	[Tag] [nvarchar](128) NOT NULL,
	[X] [float] NOT NULL,
	[Y] [float] NOT NULL,
	[Z] [float] NOT NULL,
	[Time] [bigint] NOT NULL,
	[Power] [int] NOT NULL,
	[Number] [int] NOT NULL,
	[Flag] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TagPositions] PRIMARY KEY CLUSTERED 
(
	[Tag] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
INSERT [dbo].[TagPositions] ([Tag], [X], [Y], [Z], [Time], [Power], [Number], [Flag]) VALUES (N'0002', -50, -50, -50, 1527754678, 0, 0, N'0:0:0:0:0')
INSERT [dbo].[TagPositions] ([Tag], [X], [Y], [Z], [Time], [Power], [Number], [Flag]) VALUES (N'0003', -50, -50, -50, 1527754678, 0, 0, N'0:0:0:0:0')
/****** Object:  Table [dbo].[t_Template_TypeProperty]    Script Date: 07/31/2018 15:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_Template_TypeProperty](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](max) NULL,
	[TypeCode] [bigint] NOT NULL,
	[orientation] [int] NULL,
	[InstantTime] [bigint] NULL,
	[ReviseTime] [bigint] NULL,
	[height] [nvarchar](max) NULL,
	[energy] [nvarchar](max) NULL,
	[weight] [nvarchar](max) NULL,
	[model] [nvarchar](max) NULL,
	[style] [nvarchar](max) NULL,
	[manufacturer] [nvarchar](max) NULL,
	[sizen] [nvarchar](max) NULL,
	[colour] [nvarchar](max) NULL,
	[refrigeration] [nvarchar](max) NULL,
	[FrontElevation] [nvarchar](max) NULL,
	[RearView] [nvarchar](max) NULL,
	[BackInstruction] [nvarchar](max) NULL,
	[Obligate3] [nvarchar](max) NULL,
	[Obligate4] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.t_Template_TypeProperty] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[t_Template_TypeProperty] ON
INSERT [dbo].[t_Template_TypeProperty] ([Id], [TypeName], [TypeCode], [orientation], [InstantTime], [ReviseTime], [height], [energy], [weight], [model], [style], [manufacturer], [sizen], [colour], [refrigeration], [FrontElevation], [RearView], [BackInstruction], [Obligate3], [Obligate4]) VALUES (3466, N'初灵*0U电源条16口', 1, 0, 0, 1474455595, N'0', N'15', N'5', N'PDU', N'0U电源条16口', N'初灵', N'1360*57*80', N'-16777216', N'15W', N'初灵_0U电源条_前面板_0.png', N'初灵_0U电源条_后面板_0.png', N'初灵_0U电源条_类型说明.pdf', N'交流', N'智能')
INSERT [dbo].[t_Template_TypeProperty] ([Id], [TypeName], [TypeCode], [orientation], [InstantTime], [ReviseTime], [height], [energy], [weight], [model], [style], [manufacturer], [sizen], [colour], [refrigeration], [FrontElevation], [RearView], [BackInstruction], [Obligate3], [Obligate4]) VALUES (3467, N'初灵*G03', 4, 0, 0, 1474186095, N'1', N'15', N'4', N'动环监控设备', N'G03', N'CNCR', N'435*252*48', N'-16777216', N'15', N'初灵_G03_前面板_0.png', N'初灵_G03_后面板_0.png', N'初灵_G03_类型说明.pdf', N'动环监控设备', N'监控主机')
INSERT [dbo].[t_Template_TypeProperty] ([Id], [TypeName], [TypeCode], [orientation], [InstantTime], [ReviseTime], [height], [energy], [weight], [model], [style], [manufacturer], [sizen], [colour], [refrigeration], [FrontElevation], [RearView], [BackInstruction], [Obligate3], [Obligate4]) VALUES (3468, N'初灵*F01EM交流电源条', 5, 0, 0, 0, N'1', N'10', N'3', N'PDU', N'F01EM交流电源条', N'CNCR', N'435*252*45', N'-16777216', N'10W', N'初灵_F01EM交流电源条_前面板_0.png', N'初灵_F01EM交流电源条_后面板_0.png', N'初灵_F01EM交流电源条_类型说明.pdf', N'交流', N'智能')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
SET IDENTITY_INSERT [dbo].[t_Template_TypeProperty] OFF
/****** Object:  Table [dbo].[t_SetModel]    Script Date: 07/31/2018 15:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_SetModel](
	[RecordID] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[strText] [nvarchar](max) NULL,
	[ID] [nvarchar](max) NULL,
	[strType] [nvarchar](max) NULL,
	[Visible] [nvarchar](max) NULL,
	[Items] [nvarchar](max) NULL,
	[Class] [nvarchar](max) NULL,
	[Obligate1] [nvarchar](max) NULL,
	[Obligate2] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.t_SetModel] PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[t_SetModel] ([RecordID], [Name], [strText], [ID], [strType], [Visible], [Items], [Class], [Obligate1], [Obligate2]) VALUES (N'0086D36C-0ED7-415d98DB9181F1DFAB8C43', N'IBM_BladeCenter H_3D', N'BladeCenter H', N'IBM_BladeCenter H', N'Dev', N'', N'IT设备', N'服务器设备', N'', N'')
INSERT [dbo].[t_SetModel] ([RecordID], [Name], [strText], [ID], [strType], [Visible], [Items], [Class], [Obligate1], [Obligate2]) VALUES (N'00E92A61-F2B2-4243A1ECC79B5B8F6073C1', N'其他_置物条_3D', N'置物条', N'其他_置物条', N'Dev', N'', N'其他', N'其他类型', N'', N'')
INSERT [dbo].[t_SetModel] ([RecordID], [Name], [strText], [ID], [strType], [Visible], [Items], [Class], [Obligate1], [Obligate2]) VALUES (N'01BD908D-C429-4f3493D3828627A5B16925', N'其他_IDC D_3D', N'IDC D', N'其他_IDC D', N'Env', N'', N'装饰', N'标志', N'', N'')
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
/****** Object:  Table [dbo].[Roles]    Script Date: 07/31/2018 15:34:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Roles]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Posts]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Posts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Posts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[PhysicalTopologies]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PhysicalTopologies]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PhysicalTopologies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ParentId] [int] NULL,
	[Number] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[Describe] [nvarchar](max) NULL,
	[Tag] [nvarchar](max) NULL,
	[TransfromId] [int] NULL,
 CONSTRAINT [PK_dbo.PhysicalTopologies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PhysicalTopologies]') AND name = N'IX_ParentId')
CREATE NONCLUSTERED INDEX [IX_ParentId] ON [dbo].[PhysicalTopologies] 
(
	[ParentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[PhysicalTopologies]') AND name = N'IX_TransfromId')
CREATE NONCLUSTERED INDEX [IX_TransfromId] ON [dbo].[PhysicalTopologies] 
(
	[TransfromId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[PhysicalTopologies] ON
INSERT [dbo].[PhysicalTopologies] ([Id], [Name], [ParentId], [Number], [Type], [Describe], [Tag], [TransfromId]) VALUES (1, N'根节点', NULL, 0, 0, NULL, NULL, NULL)
INSERT [dbo].[PhysicalTopologies] ([Id], [Name], [ParentId], [Number], [Type], [Describe], [Tag], [TransfromId]) VALUES (2, N'四会热电厂', 1, 0, 1, NULL, NULL, NULL)
INSERT [dbo].[PhysicalTopologies] ([Id], [Name], [ParentId], [Number], [Type], [Describe], [Tag], [TransfromId]) VALUES (3, N'主机装置建筑物', 2, 0, 1, NULL, NULL, NULL)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[PhysicalTopologies] OFF
/****** Object:  Table [dbo].[Personnels]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Personnels]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Personnels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Sex] [nvarchar](max) NULL,
	[Photo] [nvarchar](max) NULL,
	[BirthDay] [nvarchar](max) NULL,
	[Nation] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[TagId] [int] NULL,
	[ParentId] [int] NULL,
	[WorkNumber] [int] NOT NULL,
	[PstId] [int] NOT NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[MailBox] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Personnels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Personnels]') AND name = N'IX_ParentId')
CREATE NONCLUSTERED INDEX [IX_ParentId] ON [dbo].[Personnels] 
(
	[ParentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Personnels]') AND name = N'IX_PstId')
CREATE NONCLUSTERED INDEX [IX_PstId] ON [dbo].[Personnels] 
(
	[PstId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Personnels]') AND name = N'IX_TagId')
CREATE NONCLUSTERED INDEX [IX_TagId] ON [dbo].[Personnels] 
(
	[TagId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Functions]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Functions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Functions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Icon_Id] [int] NULL,
	[Menu_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Functions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Functions]') AND name = N'IX_Icon_Id')
CREATE NONCLUSTERED INDEX [IX_Icon_Id] ON [dbo].[Functions] 
(
	[Icon_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Functions]') AND name = N'IX_Menu_Id')
CREATE NONCLUSTERED INDEX [IX_Menu_Id] ON [dbo].[Functions] 
(
	[Menu_Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Targets]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Targets]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Targets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[TagId] [int] NULL,
	[Type] [int] NOT NULL,
	[DepId] [int] NULL,
	[ImageFile] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Targets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Targets]') AND name = N'IX_DepId')
CREATE NONCLUSTERED INDEX [IX_DepId] ON [dbo].[Targets] 
(
	[DepId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Targets]') AND name = N'IX_TagId')
CREATE NONCLUSTERED INDEX [IX_TagId] ON [dbo].[Targets] 
(
	[TagId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[DepId] [int] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND name = N'IX_DepId')
CREATE NONCLUSTERED INDEX [IX_DepId] ON [dbo].[Users] 
(
	[DepId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Users] ON
INSERT [dbo].[Users] ([Id], [LoginName], [Name], [Password], [DepId], [Discriminator]) VALUES (1, N'admin', N'管理员', N'admin', NULL, N'User')
INSERT [dbo].[Users] ([Id], [LoginName], [Name], [Password], [DepId], [Discriminator]) VALUES (2, N'user1', N'用户1', N'user1', NULL, N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Table [dbo].[JurisDictions]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JurisDictions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[JurisDictions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Describe] [nvarchar](max) NULL,
	[nFlag] [int] NOT NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[nTimeLength] [int] NULL,
	[DelayTime] [int] NOT NULL,
	[ErrorDistance] [int] NOT NULL,
	[RepeatType] [nvarchar](max) NOT NULL,
	[PtId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
	[CreateTime] [datetime] NULL,
	[ModifyTime] [datetime] NULL,
	[DeleteTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.JurisDictions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[JurisDictions]') AND name = N'IX_PtId')
CREATE NONCLUSTERED INDEX [IX_PtId] ON [dbo].[JurisDictions] 
(
	[PtId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[JurisDictions]') AND name = N'IX_TagId')
CREATE NONCLUSTERED INDEX [IX_TagId] ON [dbo].[JurisDictions] 
(
	[TagId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JurisDictionRecords]    Script Date: 07/31/2018 15:57:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[JurisDictionRecords]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[JurisDictionRecords](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Describe] [nvarchar](max) NULL,
	[nFlag] [int] NOT NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[nTimeLength] [int] NULL,
	[DelayTime] [int] NOT NULL,
	[ErrorDistance] [int] NOT NULL,
	[RepeatType] [nvarchar](max) NOT NULL,
	[PtId] [int] NOT NULL,
	[TagId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.JurisDictionRecords] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[JurisDictionRecords]') AND name = N'IX_PtId')
CREATE NONCLUSTERED INDEX [IX_PtId] ON [dbo].[JurisDictionRecords] 
(
	[PtId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[JurisDictionRecords]') AND name = N'IX_TagId')
CREATE NONCLUSTERED INDEX [IX_TagId] ON [dbo].[JurisDictionRecords] 
(
	[TagId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maps]    Script Date: 07/31/2018 15:57:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Maps]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Maps](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
	[ShowOrder] [int] NOT NULL,
	[DepId] [int] NULL,
	[TopoNodeId] [int] NULL,
	[IsMain] [bit] NOT NULL,
	[MinX] [real] NOT NULL,
	[MaxX] [real] NOT NULL,
	[MinY] [real] NOT NULL,
	[MaxY] [real] NOT NULL,
	[MinZ] [real] NOT NULL,
	[MaxZ] [real] NOT NULL,
 CONSTRAINT [PK_dbo.Maps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Maps]') AND name = N'IX_DepId')
CREATE NONCLUSTERED INDEX [IX_DepId] ON [dbo].[Maps] 
(
	[DepId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Maps]') AND name = N'IX_TopoNodeId')
CREATE NONCLUSTERED INDEX [IX_TopoNodeId] ON [dbo].[Maps] 
(
	[TopoNodeId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Maps] ON
INSERT [dbo].[Maps] ([Id], [Name], [FileName], [ShowOrder], [DepId], [TopoNodeId], [IsMain], [MinX], [MaxX], [MinY], [MaxY], [MinZ], [MaxZ]) VALUES (1, N'一楼地图', NULL, 0, NULL, 174, 0, -100, 6068, -100, 2098, 0, 400)
INSERT [dbo].[Maps] ([Id], [Name], [FileName], [ShowOrder], [DepId], [TopoNodeId], [IsMain], [MinX], [MaxX], [MinY], [MaxY], [MinZ], [MaxZ]) VALUES (2, N'二楼地图', NULL, 0, NULL, 180, 0, -100, 6068, -100, 2080, 450, 900)
SET IDENTITY_INSERT [dbo].[Maps] OFF
/****** Object:  Table [dbo].[DevInfoes]    Script Date: 07/31/2018 15:57:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DevInfoes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DevInfoes](
	[DevID] [nvarchar](128) NOT NULL,
	[TypeCode] [int] NOT NULL,
	[PDevID] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[ModifyTime] [datetime] NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[IP] [nvarchar](max) NULL,
	[ParentId] [int] NULL,
	[PosId] [nvarchar](max) NULL,
	[Pos_DevID] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.DevInfoes] PRIMARY KEY CLUSTERED 
(
	[DevID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[DevInfoes]') AND name = N'IX_ParentId')
CREATE NONCLUSTERED INDEX [IX_ParentId] ON [dbo].[DevInfoes] 
(
	[ParentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[DevInfoes]') AND name = N'IX_Pos_DevID')
CREATE NONCLUSTERED INDEX [IX_Pos_DevID] ON [dbo].[DevInfoes] 
(
	[Pos_DevID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[DevInfoes] ([DevID], [TypeCode], [PDevID], [Name], [Status], [CreateTime], [ModifyTime], [UserName], [IP], [ParentId], [PosId], [Pos_DevID]) VALUES (N'0f1d175a-292c-47cd-91b7-49f82ff7fd55', 6345, NULL, N'基站6', 0, CAST(0x0000A92E0105DEAF AS DateTime), CAST(0x0000A92E0105DEAF AS DateTime), NULL, NULL, 179, NULL, NULL)
INSERT [dbo].[DevInfoes] ([DevID], [TypeCode], [PDevID], [Name], [Status], [CreateTime], [ModifyTime], [UserName], [IP], [ParentId], [PosId], [Pos_DevID]) VALUES (N'26b1ff37-96d9-46ca-8d88-1166acfe8dc9', 6345, NULL, N'基站10', 0, CAST(0x0000A92E0105E2EF AS DateTime), CAST(0x0000A92E0105E2EF AS DateTime), NULL, NULL, 183, NULL, NULL)
INSERT [dbo].[DevInfoes] ([DevID], [TypeCode], [PDevID], [Name], [Status], [CreateTime], [ModifyTime], [UserName], [IP], [ParentId], [PosId], [Pos_DevID]) VALUES (N'32090d58-a2ef-4866-8c80-90230afd9e3f', 6345, NULL, N'基站9', 0, CAST(0x0000A92E0105E1E3 AS DateTime), CAST(0x0000A92E0105E1E3 AS DateTime), NULL, NULL, 183, NULL, NULL)
/****** Object:  Table [dbo].[Areas]    Script Date: 07/31/2018 15:57:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Areas]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Areas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[MapId] [int] NULL,
	[TransformId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Areas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Areas]') AND name = N'IX_MapId')
CREATE NONCLUSTERED INDEX [IX_MapId] ON [dbo].[Areas] 
(
	[MapId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Areas]') AND name = N'IX_TransformId')
CREATE NONCLUSTERED INDEX [IX_TransformId] ON [dbo].[Areas] 
(
	[TransformId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Archors]    Script Date: 07/31/2018 15:57:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Archors]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Archors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[X] [int] NOT NULL,
	[Y] [int] NOT NULL,
	[Z] [int] NOT NULL,
	[Type] [int] NOT NULL,
	[IsAutoIp] [bit] NOT NULL,
	[Ip] [nvarchar](max) NULL,
	[ServerIp] [nvarchar](max) NULL,
	[ServerPort] [int] NOT NULL,
	[Power] [float] NOT NULL,
	[AliveTime] [float] NOT NULL,
	[Enable] [int] NOT NULL,
	[DevId] [nvarchar](128) NULL,
 CONSTRAINT [PK_dbo.Archors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Archors]') AND name = N'IX_DevId')
CREATE NONCLUSTERED INDEX [IX_DevId] ON [dbo].[Archors] 
(
	[DevId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Archors] ON
INSERT [dbo].[Archors] ([Id], [Code], [Name], [X], [Y], [Z], [Type], [IsAutoIp], [Ip], [ServerIp], [ServerPort], [Power], [AliveTime], [Enable], [DevId]) VALUES (1, N'85A4', N'基站1', 3000, 870, 200, 0, 1, N'', N'', 0, 0, 0, 1, N'371edd4a-7950-42d0-8f7d-f1fbcc05248b')
INSERT [dbo].[Archors] ([Id], [Code], [Name], [X], [Y], [Z], [Type], [IsAutoIp], [Ip], [ServerIp], [ServerPort], [Power], [AliveTime], [Enable], [DevId]) VALUES (2, N'85D8', N'基站2', 4960, 1925, 200, 0, 1, N'', N'', 0, 0, 0, 1, N'9396c146-9c3d-48b9-8c09-0ffb8bde9592')
INSERT [dbo].[Archors] ([Id], [Code], [Name], [X], [Y], [Z], [Type], [IsAutoIp], [Ip], [ServerIp], [ServerPort], [Power], [AliveTime], [Enable], [DevId]) VALUES (3, N'85E8', N'基站3', 4960, 1125, 200, 0, 1, N'', N'', 0, 0, 0, 1, N'dcd3706e-0f20-45a4-9415-c0b57e3e1c7c')
SET IDENTITY_INSERT [dbo].[Archors] OFF
/****** Object:  ForeignKey [FK_dbo.Departments_dbo.Departments_ParentId]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Departments_dbo.Departments_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Departments]'))
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Departments_dbo.Departments_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Departments] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Departments_dbo.Departments_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Departments]'))
ALTER TABLE [dbo].[Departments] CHECK CONSTRAINT [FK_dbo.Departments_dbo.Departments_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.Menus_dbo.Menus_PMenuId]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Menus_dbo.Menus_PMenuId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Menus]'))
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Menus_dbo.Menus_PMenuId] FOREIGN KEY([PMenuId])
REFERENCES [dbo].[Menus] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Menus_dbo.Menus_PMenuId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Menus]'))
ALTER TABLE [dbo].[Menus] CHECK CONSTRAINT [FK_dbo.Menus_dbo.Menus_PMenuId]
GO
/****** Object:  ForeignKey [FK_dbo.PhysicalTopologies_dbo.PhysicalTopologies_ParentId]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.PhysicalTopologies_dbo.PhysicalTopologies_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[PhysicalTopologies]'))
ALTER TABLE [dbo].[PhysicalTopologies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhysicalTopologies_dbo.PhysicalTopologies_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[PhysicalTopologies] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.PhysicalTopologies_dbo.PhysicalTopologies_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[PhysicalTopologies]'))
ALTER TABLE [dbo].[PhysicalTopologies] CHECK CONSTRAINT [FK_dbo.PhysicalTopologies_dbo.PhysicalTopologies_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.PhysicalTopologies_dbo.TransformMs_TransfromId]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.PhysicalTopologies_dbo.TransformMs_TransfromId]') AND parent_object_id = OBJECT_ID(N'[dbo].[PhysicalTopologies]'))
ALTER TABLE [dbo].[PhysicalTopologies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.PhysicalTopologies_dbo.TransformMs_TransfromId] FOREIGN KEY([TransfromId])
REFERENCES [dbo].[TransformMs] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.PhysicalTopologies_dbo.TransformMs_TransfromId]') AND parent_object_id = OBJECT_ID(N'[dbo].[PhysicalTopologies]'))
ALTER TABLE [dbo].[PhysicalTopologies] CHECK CONSTRAINT [FK_dbo.PhysicalTopologies_dbo.TransformMs_TransfromId]
GO
/****** Object:  ForeignKey [FK_dbo.Personnels_dbo.Departments_ParentId]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Personnels_dbo.Departments_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Personnels]'))
ALTER TABLE [dbo].[Personnels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Personnels_dbo.Departments_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Departments] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Personnels_dbo.Departments_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Personnels]'))
ALTER TABLE [dbo].[Personnels] CHECK CONSTRAINT [FK_dbo.Personnels_dbo.Departments_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.Personnels_dbo.Posts_PstId]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Personnels_dbo.Posts_PstId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Personnels]'))
ALTER TABLE [dbo].[Personnels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Personnels_dbo.Posts_PstId] FOREIGN KEY([PstId])
REFERENCES [dbo].[Posts] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Personnels_dbo.Posts_PstId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Personnels]'))
ALTER TABLE [dbo].[Personnels] CHECK CONSTRAINT [FK_dbo.Personnels_dbo.Posts_PstId]
GO
/****** Object:  ForeignKey [FK_dbo.Personnels_dbo.Tags_TagId]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Personnels_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Personnels]'))
ALTER TABLE [dbo].[Personnels]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Personnels_dbo.Tags_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Personnels_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Personnels]'))
ALTER TABLE [dbo].[Personnels] CHECK CONSTRAINT [FK_dbo.Personnels_dbo.Tags_TagId]
GO
/****** Object:  ForeignKey [FK_dbo.Functions_dbo.Icons_Icon_Id]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Functions_dbo.Icons_Icon_Id]') AND parent_object_id = OBJECT_ID(N'[dbo].[Functions]'))
ALTER TABLE [dbo].[Functions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Functions_dbo.Icons_Icon_Id] FOREIGN KEY([Icon_Id])
REFERENCES [dbo].[Icons] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Functions_dbo.Icons_Icon_Id]') AND parent_object_id = OBJECT_ID(N'[dbo].[Functions]'))
ALTER TABLE [dbo].[Functions] CHECK CONSTRAINT [FK_dbo.Functions_dbo.Icons_Icon_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Functions_dbo.Menus_Menu_Id]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Functions_dbo.Menus_Menu_Id]') AND parent_object_id = OBJECT_ID(N'[dbo].[Functions]'))
ALTER TABLE [dbo].[Functions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Functions_dbo.Menus_Menu_Id] FOREIGN KEY([Menu_Id])
REFERENCES [dbo].[Menus] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Functions_dbo.Menus_Menu_Id]') AND parent_object_id = OBJECT_ID(N'[dbo].[Functions]'))
ALTER TABLE [dbo].[Functions] CHECK CONSTRAINT [FK_dbo.Functions_dbo.Menus_Menu_Id]
GO
/****** Object:  ForeignKey [FK_dbo.Targets_dbo.Departments_DepId]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Targets_dbo.Departments_DepId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Targets]'))
ALTER TABLE [dbo].[Targets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Targets_dbo.Departments_DepId] FOREIGN KEY([DepId])
REFERENCES [dbo].[Departments] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Targets_dbo.Departments_DepId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Targets]'))
ALTER TABLE [dbo].[Targets] CHECK CONSTRAINT [FK_dbo.Targets_dbo.Departments_DepId]
GO
/****** Object:  ForeignKey [FK_dbo.Targets_dbo.Tags_TagId]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Targets_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Targets]'))
ALTER TABLE [dbo].[Targets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Targets_dbo.Tags_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Targets_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Targets]'))
ALTER TABLE [dbo].[Targets] CHECK CONSTRAINT [FK_dbo.Targets_dbo.Tags_TagId]
GO
/****** Object:  ForeignKey [FK_dbo.Users_dbo.Departments_DepId]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Users_dbo.Departments_DepId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Users]'))
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Departments_DepId] FOREIGN KEY([DepId])
REFERENCES [dbo].[Departments] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Users_dbo.Departments_DepId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Users]'))
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Departments_DepId]
GO
/****** Object:  ForeignKey [FK_dbo.JurisDictions_dbo.PhysicalTopologies_PtId]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictions_dbo.PhysicalTopologies_PtId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictions]'))
ALTER TABLE [dbo].[JurisDictions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JurisDictions_dbo.PhysicalTopologies_PtId] FOREIGN KEY([PtId])
REFERENCES [dbo].[PhysicalTopologies] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictions_dbo.PhysicalTopologies_PtId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictions]'))
ALTER TABLE [dbo].[JurisDictions] CHECK CONSTRAINT [FK_dbo.JurisDictions_dbo.PhysicalTopologies_PtId]
GO
/****** Object:  ForeignKey [FK_dbo.JurisDictions_dbo.Tags_TagId]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictions_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictions]'))
ALTER TABLE [dbo].[JurisDictions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JurisDictions_dbo.Tags_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictions_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictions]'))
ALTER TABLE [dbo].[JurisDictions] CHECK CONSTRAINT [FK_dbo.JurisDictions_dbo.Tags_TagId]
GO
/****** Object:  ForeignKey [FK_dbo.JurisDictionRecords_dbo.PhysicalTopologies_PtId]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictionRecords_dbo.PhysicalTopologies_PtId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictionRecords]'))
ALTER TABLE [dbo].[JurisDictionRecords]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JurisDictionRecords_dbo.PhysicalTopologies_PtId] FOREIGN KEY([PtId])
REFERENCES [dbo].[PhysicalTopologies] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictionRecords_dbo.PhysicalTopologies_PtId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictionRecords]'))
ALTER TABLE [dbo].[JurisDictionRecords] CHECK CONSTRAINT [FK_dbo.JurisDictionRecords_dbo.PhysicalTopologies_PtId]
GO
/****** Object:  ForeignKey [FK_dbo.JurisDictionRecords_dbo.Tags_TagId]    Script Date: 07/31/2018 15:57:28 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictionRecords_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictionRecords]'))
ALTER TABLE [dbo].[JurisDictionRecords]  WITH CHECK ADD  CONSTRAINT [FK_dbo.JurisDictionRecords_dbo.Tags_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.JurisDictionRecords_dbo.Tags_TagId]') AND parent_object_id = OBJECT_ID(N'[dbo].[JurisDictionRecords]'))
ALTER TABLE [dbo].[JurisDictionRecords] CHECK CONSTRAINT [FK_dbo.JurisDictionRecords_dbo.Tags_TagId]
GO
/****** Object:  ForeignKey [FK_dbo.Maps_dbo.Departments_DepId]    Script Date: 07/31/2018 15:57:29 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Maps_dbo.Departments_DepId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Maps]'))
ALTER TABLE [dbo].[Maps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Maps_dbo.Departments_DepId] FOREIGN KEY([DepId])
REFERENCES [dbo].[Departments] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Maps_dbo.Departments_DepId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Maps]'))
ALTER TABLE [dbo].[Maps] CHECK CONSTRAINT [FK_dbo.Maps_dbo.Departments_DepId]
GO
/****** Object:  ForeignKey [FK_dbo.Maps_dbo.PhysicalTopologies_TopoNodeId]    Script Date: 07/31/2018 15:57:29 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Maps_dbo.PhysicalTopologies_TopoNodeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Maps]'))
ALTER TABLE [dbo].[Maps]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Maps_dbo.PhysicalTopologies_TopoNodeId] FOREIGN KEY([TopoNodeId])
REFERENCES [dbo].[PhysicalTopologies] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Maps_dbo.PhysicalTopologies_TopoNodeId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Maps]'))
ALTER TABLE [dbo].[Maps] CHECK CONSTRAINT [FK_dbo.Maps_dbo.PhysicalTopologies_TopoNodeId]
GO
/****** Object:  ForeignKey [FK_dbo.DevInfoes_dbo.DevPos_Pos_DevID]    Script Date: 07/31/2018 15:57:29 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.DevInfoes_dbo.DevPos_Pos_DevID]') AND parent_object_id = OBJECT_ID(N'[dbo].[DevInfoes]'))
ALTER TABLE [dbo].[DevInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DevInfoes_dbo.DevPos_Pos_DevID] FOREIGN KEY([Pos_DevID])
REFERENCES [dbo].[DevPos] ([DevID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.DevInfoes_dbo.DevPos_Pos_DevID]') AND parent_object_id = OBJECT_ID(N'[dbo].[DevInfoes]'))
ALTER TABLE [dbo].[DevInfoes] CHECK CONSTRAINT [FK_dbo.DevInfoes_dbo.DevPos_Pos_DevID]
GO
/****** Object:  ForeignKey [FK_dbo.DevInfoes_dbo.PhysicalTopologies_ParentId]    Script Date: 07/31/2018 15:57:29 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.DevInfoes_dbo.PhysicalTopologies_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[DevInfoes]'))
ALTER TABLE [dbo].[DevInfoes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DevInfoes_dbo.PhysicalTopologies_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[PhysicalTopologies] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.DevInfoes_dbo.PhysicalTopologies_ParentId]') AND parent_object_id = OBJECT_ID(N'[dbo].[DevInfoes]'))
ALTER TABLE [dbo].[DevInfoes] CHECK CONSTRAINT [FK_dbo.DevInfoes_dbo.PhysicalTopologies_ParentId]
GO
/****** Object:  ForeignKey [FK_dbo.Areas_dbo.Maps_MapId]    Script Date: 07/31/2018 15:57:29 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Areas_dbo.Maps_MapId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Areas]'))
ALTER TABLE [dbo].[Areas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Areas_dbo.Maps_MapId] FOREIGN KEY([MapId])
REFERENCES [dbo].[Maps] ([Id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Areas_dbo.Maps_MapId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Areas]'))
ALTER TABLE [dbo].[Areas] CHECK CONSTRAINT [FK_dbo.Areas_dbo.Maps_MapId]
GO
/****** Object:  ForeignKey [FK_dbo.Areas_dbo.TransformMs_TransformId]    Script Date: 07/31/2018 15:57:29 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Areas_dbo.TransformMs_TransformId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Areas]'))
ALTER TABLE [dbo].[Areas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Areas_dbo.TransformMs_TransformId] FOREIGN KEY([TransformId])
REFERENCES [dbo].[TransformMs] ([Id])
ON DELETE CASCADE
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Areas_dbo.TransformMs_TransformId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Areas]'))
ALTER TABLE [dbo].[Areas] CHECK CONSTRAINT [FK_dbo.Areas_dbo.TransformMs_TransformId]
GO
/****** Object:  ForeignKey [FK_dbo.Archors_dbo.DevInfoes_DevId]    Script Date: 07/31/2018 15:57:29 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Archors_dbo.DevInfoes_DevId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Archors]'))
ALTER TABLE [dbo].[Archors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Archors_dbo.DevInfoes_DevId] FOREIGN KEY([DevId])
REFERENCES [dbo].[DevInfoes] ([DevID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_dbo.Archors_dbo.DevInfoes_DevId]') AND parent_object_id = OBJECT_ID(N'[dbo].[Archors]'))
ALTER TABLE [dbo].[Archors] CHECK CONSTRAINT [FK_dbo.Archors_dbo.DevInfoes_DevId]
GO
