<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILocationAlarmService" />
                <binding name="NetTcpBinding_ILocationInfoService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8734/LocationServices/LocationCallbacks/LocationCallbackService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILocationAlarmService"
                contract="LocationCallbackServices.ILocationAlarmService"
                name="NetTcpBinding_ILocationAlarmService">
                <identity>
                    <userPrincipalName value="MQ61CWSCEVLAX8Z\Administrator" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8734/LocationServices/LocationCallbacks/LocationCallbackService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILocationInfoService"
                contract="LocationCallbackServices.ILocationInfoService" name="NetTcpBinding_ILocationInfoService">
                <identity>
                    <userPrincipalName value="MQ61CWSCEVLAX8Z\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>