@model DbModel.Location.Work.SafetyMeasures

@{
    ViewBag.Title = "CreateSafetyMeasures";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        span {
            display: inline-block;
            width: 200px;
            text-align: right;
        }
    </style>
    <title>CreateSafetyMeasures</title>
</head>
<body>
    <h2>CreateSafetyMeasures</h2>
    <form action="/WorkTicket/CreateSafetyMeasures2">
        <input type="hidden" name="WorkTicketId" value=@Model.WorkTicketId />
        <span>签发人填写的安全措施：</span><input type="text" name="LssuerContent" value=@Model.LssuerContent /><br />
        <span>许可人填写的安全措施：</span><input type="text" name="LicensorContent" value=@Model.LicensorContent /><br />
        <input type="submit" value="Create" /> |
        <a href="/WorkTicket/Edit/@Model.WorkTicketId">返 回</a>
    </form>
</body>
</html>