@model DbModel.Location.Work.SafetyMeasures

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        span {
            display: inline-block;
            width: 200px;
            text-align: right;
        }
    </style>
    <title>Edit</title>
</head>
<body>
    <h2>Edit</h2>
    <form action="/WorkTicket/EditSafetyMeasures2">
        <input type="hidden" name="Id" value=@Model.Id />
        <input type="hidden" name="WorkTicketId" value=@Model.WorkTicketId />
        <span>签发人填写的安全措施：</span><input type="text" name="LssuerContent" value=@Model.LssuerContent /><br />
        <span>许可人填写的安全措施：</span><input type="text" name="LicensorContent" value=@Model.LicensorContent /><br />
        <h6><input type="submit" value="Edit" /></h6>
    </form>
</body>
</html>