@{
    ViewBag.Title = "Home";
}

@*<embed src="/api/areas/svg?Id=2" type="image/svg+xml" style="width:100%; height:100%" />*@

<div id="showSvg"></div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script type="text/javascript">    
    $.ajax({
        type: "Get",
        url: "/api/areas/svg?Id=2",
        dataType: "html",
        //contentType: "text/html; charset=utf-8",
        async: true,
        success: function (data) {
            //console.log(data)
            $("#showSvg").html(data);
        }
    });
</script>
