USE [Location]
--Go
/****** Object:  Table [dbo].[DevModels]    Script Date: 10/22/2018 13:19:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DevModels]') AND type in (N'U'))
DROP TABLE [dbo].[DevModels]
--Go
/****** Object:  Table [dbo].[DevTypes]    Script Date: 10/22/2018 13:19:50 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DevTypes]') AND type in (N'U'))
DROP TABLE [dbo].[DevTypes]
--Go
/****** Object:  Table [dbo].[DevTypes]    Script Date: 10/22/2018 13:19:50 ******/
SET ANSI_NULLS ON
--Go
SET QUOTED_IDENTIFIER ON
--Go
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DevTypes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DevTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](max) NULL,
	[Class] [nvarchar](max) NULL,
	[TypeCode] [bigint] NOT NULL,
	[FrontElevation] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DevTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
--Go
SET IDENTITY_INSERT [dbo].[DevTypes] ON
INSERT [dbo].[DevTypes] ([Id], [TypeName], [Class], [TypeCode], [FrontElevation]) VALUES (1, N'初灵*0U电源条16口', N'PDU', 1, N'初灵_0U电源条_前面板_0.png')
INSERT [dbo].[DevTypes] ([Id], [TypeName], [Class], [TypeCode], [FrontElevation]) VALUES (2, N'初灵*G03', N'动环监控设备', 4, N'初灵_G03_前面板_0.png')
INSERT [dbo].[DevTypes] ([Id], [TypeName], [Class], [TypeCode], [FrontElevation]) VALUES (3, N'初灵*F01EM交流电源条', N'PDU', 5, N'初灵_F01EM交流电源条_前面板_0.png')
--Go
print 'Processed 100 total records'
--Go
print 'Processed 200 total records'
--Go
print 'Processed 300 total records'
--Go
print 'Processed 400 total records'
--Go
print 'Processed 500 total records'
SET IDENTITY_INSERT [dbo].[DevTypes] OFF
/****** Object:  Table [dbo].[DevModels]    Script Date: 10/22/2018 13:19:50 ******/
SET ANSI_NULLS ON
--Go
SET QUOTED_IDENTIFIER ON
--Go
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DevModels]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[DevModels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[ModelId] [nvarchar](max) NULL,
	[Items] [nvarchar](max) NULL,
	[Class] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.DevModels] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
--Go
SET IDENTITY_INSERT [dbo].[DevModels] ON
INSERT [dbo].[DevModels] ([Id], [Name], [ModelId], [Items], [Class]) VALUES (1, N'IBM_BladeCenter H_3D', N'IBM_BladeCenter H', N'IT设备', N'服务器设备')
INSERT [dbo].[DevModels] ([Id], [Name], [ModelId], [Items], [Class]) VALUES (2, N'其他_置物条_3D', N'其他_置物条', N'其他', N'其他类型')
INSERT [dbo].[DevModels] ([Id], [Name], [ModelId], [Items], [Class]) VALUES (3, N'其他_IDC D_3D', N'其他_IDC D', N'装饰', N'标志')
--Go
print 'Processed 100 total records'
--Go
print 'Processed 200 total records'
--Go
print 'Processed 300 total records'
--Go
print 'Processed 400 total records'
--Go
print 'Processed 500 total records'
--Go
print 'Processed 600 total records'
--Go
print 'Processed 700 total records'
SET IDENTITY_INSERT [dbo].[DevModels] OFF
